<div class="small-8 columns small-centered">
  <form name="newArticle" class="article-form" ng-submit="post(article)">
    <div class="form-inputs">
      <label for="title">Title</label>
      <input type="text" name="title" ng-model="article.title" required>

      <label for="text">Text</label>
      <textarea name="text" ng-model="article.text" rows="6" required></textarea>
    </div>

    <div class="form-actions">
      <input ng-disabled="newArticle.$invalid" type="submit" value="Post" class="button">
    </div>
  </form>
</div>
