<div class="small-12 medium-8 small-centered columns">
  <div class="article">
    <h3 class="article-title">{{article.title}}</h3>
    <div class="article-text">{{article.text}}</div>
  </div>

  <div class="comments">
    <div class="comments-header">
      Comments:
    </div>

    <div ng-repeat="comment in comments">
      <nw-comment comment="comment"></nw-comment>
    </div>

    <form name="newComment" class="comment-form" ng-submit="postComment(comment)">
      <div class="form-inputs">
        <textarea id="text" ng-model="comment.text" placeholder="Leave your comment"  rows="4" required></textarea>
      </div>

      <div class="form-actions">
        <input type="submit" value="Post" class="button small">
      </div>
    </form>
  </div>
</div>
